[submodule "themes/even"]
	path = themes/even
	url = git@github.com:olOwOlo/hugo-theme-even.git
[submodule "themes/whisper"]
	path = themes/whisper
	url = git@github.com:zerostaticthemes/hugo-whisper-theme.git
